body {
  background: #006400;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #006400;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 120px;
}

.score{
  display: inline-block;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  width: 120px;
}

.column{
  display: inline-block;
  width: 120px;
}

.bust{
  color: red;
}

.win{
  color: gold;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

/* Dropdown Button */
.dropbtn {
  background-color: #f4511e;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 103px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* For styling the footer */
.wrapper {
  width: 100%;
  margin: 10px 0 20px 0;
  box-sizing: border-box;
  padding: 10px;
  color:black;
  text-align: center;
}

#box p {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#box img {
  height: 24px;
  vertical-align: middle;
}
